header, section {
    padding: 100px 0;
}


header {
    padding: 200px 0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}





footer {
    height: auto;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}


footer a {
    padding: 5px;
    margin: 10px;
}




.bottom {
    border-radius: 40%;
    background-color: #123423;
    width: 60px;
    height: 60px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    transition: all 0.6s;
    display: flex;
}

.bottom:hover {
    border-radius: 50%;
    background-color: blueviolet;
    
}

.bottom_ic {
    margin-right: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
    transition: all 0.6s;
    display: block;
}


.bottom_ic:hover {
    margin-right: -3px;
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent rgba(245, 5, 37, 0.863);
}



.btn_itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    color: #ffffff;
    background-color: darkorchid;

}

.btn_tg {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    border: darkturquoise solid 1px;
}


.icon {
    margin: 0 auto;
    display: block;
    width: 30px;
    height: 30px;
}

.btn_itd:hover {
    color: #ffffff;
    background-color: mediumpurple;
}

.logo {
    color: rgb(168, 72, 3);

}

.logo2 {
  color: crimson;
}


.about, .proc {
    background-color: #eee;
    
}

.roz {
    padding: 10px;
    border: coral solid 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}


.roz:hover {
    padding: 10px;
    border: firebrick solid 1px;
    border-radius: 50%;
    cursor: pointer;
}

.section {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    width: 100px;
    height: 1px;
    background-color: #b16d07;
    margin: 2px auto 20px;
}

.img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.author {
    margin-bottom: 5px;
}

.form h5 {
    font-size: 15px;
    border: #d40639 solid 1px;
    border-radius: 5px;
    padding: 50px;
}

.bg1 {
    background-color: coral;
}

.bg2 {
    background-color: firebrick;
}

.proc h5 {
    font-size: 15px;
    border: #d40639 solid 1px;
    border-radius: 5px;
    padding: 25px;
}


.icon_footer {
    font-size: 15px;
    color: #ca0707;
}

.mm {
    padding: 5px 5px 5px 5px;
    margin: 5px 0 0 10px;
    font-size: 25px;
}

.icon_footer:hover {
    color: #000000;
}

.modal-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
    background: rebeccapurple;
}


.menuhead{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #000000;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
ul {
    list-style-type: none;
}
.gg {
    margin: 3px;
    padding: 2px;
    width: 200px;
    border: red solid 1px;
    border-radius: 10px;
    cursor:  pointer;
    transition: all 0.9s;
}


.gg:hover {
    margin: 5px;
    border: #eee solid 1px;
    background: rgb(131,58,180);
    box-shadow: 3px 3px 3px black;
}